DATABASE_URL="postgresql://postgres.fkshrizpzmlwvrakkkjo:NxkQ03HY6FTroxi7@db.fkshrizpzmlwvrakkkjo.supabase.co:6543/postgres"
NEXTAUTH_SECRET="my-super-secret-key-abc123xyz"
NEXTAUTH_URL="https://paybridge-tunisia.vercel.app"
