DATABASE_URL="postgresql://postgres.fkshrizpzmlwvrakkkjo:YOUR-PASSWORD@aws-0-xx-xxx.pooler.supabase.com:6543/postgres"
NEXTAUTH_SECRET="my-super-secret-key-abc123xyz"
NEXTAUTH_URL="https://paybridge-tunisia.vercel.app"
